body {
	background-color: #9E9E9E;
}

.profile_photo {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	float: left;
	text-align:center;
	overflow: hidden;

	position: absolute;
	top: 120px;
	left: 10px;

	background: no-repeat;
	background-position: 50% 50%;
}

@media (max-width:1025px){
	.profile_photo {
		display: none; !important;
	}
}

.cover_photo{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 370px;
	overflow: auto;
}

.profile_name {
	color: white;
	position: absolute;
	top: 340px;
	left: 300px;
	font-size: 400%;
	text-shadow: 0 0 10px rgba(0, 0, 0, .8);
	white-space: nowrap;
}

.upper_container {
	height: 430px;
	overflow: hidden;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin-bottom: 10px;
}

@media (max-width:1025px){
	.cover_photo {
		position: relative;
		top: 0;
		left: 0;
		width: 100vw;
		height: 200px;
		background: center no-repeat;
		overflow: auto;
	}

	.upper_container {
		height: 200px;
		overflow: hidden;
		box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		margin-bottom: 10px;
	}

	.upper_bar{
		display: none; !important;
	}

	.profile_name {
		text-align: center;
		position: absolute;
		top: 100px;
		font-size: 400%;
		text-shadow: 0 0 10px rgba(0, 0, 0, .8);
		white-space: nowrap;
	}

}

.upper_bar{
	height: 60px;
	padding-top: 20px;
	padding-left: 300px;
}

.upper_bar_content {
	font-size: 200%;
	white-space: nowrap;
	display: inline;
	margin-right: 20px;
}

.left_menu {
	max-height: 430px;
}



@media (min-width:1025px){

	.main_div {
		margin-left: 250px;
		margin-right: 10px;
		width: calc(80vw);
	}
}

@media (max-width:1025px){

	.main_div {
		margin-left: 50px;
		margin-right: 10px;
		width: calc(80vw);
	}
}

.post_container {
	position: relative;
	margin-bottom: 10px;
	overflow: visible;
}

.card_container {
	overflow: visible;
	width: 100%;
}

.mdl-layout__drawer-button {
  color: white;
}
