body {
	background-color: #9E9E9E;
}

.profile_photo {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	float: left;
	text-align:center;
	overflow: hidden;

	position: absolute;
	top: 120px;
	left: 10px;

	background: url(../img/profile.jpg) no-repeat;
	background-position: 50% 50%;
}

.profile_photo img {
	opacity: 0;
	filter: alpha(opacity=0);
}

.profile_name {
	color: white;
	position: absolute;
	top: 340px;
	left: 300px;
	font-size: 400%;
	text-shadow: 0 0 10px rgba(0, 0, 0, .8);
	white-space: nowrap;
}

.upper_container {
	height: 430px;
	overflow: hidden;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	margin-bottom: 10px;
}

.cover_photo {
	position: relative;
	top: 0;
	left: 0;
	background: url('../img/cover.jpg') center no-repeat;
	height: 370px;
	overflow: hidden;
}

.upper_bar{
	background-color: #0196F3;
	height: 60px;
	padding-top: 20px;
	padding-left: 300px;
}

.upper_bar_content {
	font-size: 200%;
	color: white;
	white-space: nowrap;
	display: inline;
	margin-right: 20px;
}

.left_menu {
	max-height: 430px;
}

.main_posts {
	margin-left: 250px;
	margin-right: 10px;
}

.post_container {
	position: relative;
	margin-bottom: 10px;
	overflow: visible;
}

.card_container {
	overflow: visible;
	width: 100%;
}

.mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
