html, body {
	background-color: #9E9E9E; !important
	font-family: 'Roboto', 'Helvetica';
}

.sidebar-avatar{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.main-layout .main-header .mdl-textfield {
	padding: 0px;
	margin-top: 41px;
}

.main-layout .main-header .mdl-textfield .mdl-textfield__expandable-holder {
	bottom: 19px;
}

.mdl-layout__drawer .sidebar-avatar {
	margin-bottom: 16px;
}

.sidebar-drawer {
	border: none;
}

.sidebar-drawer .mdl-menu .mdl-menu__item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.sidebar-drawer-header {
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 16px;
	height: 151px;
}

.sidebar-name-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.sidebar-navigation {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.main-layout .sidebar-navigation .mdl-navigation__link {
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 500;
}

.main-layout .sidebar-navigation .mdl-navigation__link:hover {
	/*background-color: #00FFFF;*/
	color: #37474F;
}

.sidebar-navigation .mdl-navigation__link .material-icons {
	font-size: 24px;
	margin-right: 32px;
}
