<!DOCTYPE html>
<html>
<head>
	<%-title%>

	<!-- Viewport mobile tag for sensible mobile support -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Chrome on Android color set -->
	<meta name="theme-color" content="‪#311B92">

	<!--INJECTED START
	<!--STYLES-->
	<link rel="stylesheet" href="/bower_components/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/css/material.min.css">
	<!--STYLES END-->	

	<!--SCRIPTS-->
	<script src="/bower_components/material-design-lite/material.min.js"></script>
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/style.js"></script>
	<!--SCRIPTS END-->
	<!--INJECTED END-->

	<!--GOOGLE ICONS REF -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!--My CSS -->
	<link rel="stylesheet" href="/css/layout.css">

	<!-- My JS -->
	<script src="/js/layout.js"></script>
	
</head>


<body ng-app="betti-app" ng-controller="LayoutStyleController">
	<!-- HEADER AND SIDEBAR BEGIN -->
	<div class="main-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header" ng-controller="SideBarController">
		<header class="main-header mdl-layout__header mdl-color-text--grey-600" ng-class="color_mdl_search">
			<div class="mdl-layout__header-row">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
						<i class="material-icons mdl-color-text--white">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input mdl-color-text--white" style="font-size: 150%" type="text" id="search">
					</div>
				</div>
				<div class="mdl-layout-spacer"></div>
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="logout" ng-click="logout()">
					<i class="material-icons mdl-color-text--white">exit_to_app</i>
				</button>
			</div>
		</header>
		<div class="sidebar-drawer mdl-layout__drawer mdl-color-text--white" ng-class="color_mdl_profile">
			<header class="sidebar-drawer-header">
				<img ng-src="{{user_avatar}}" class="sidebar-avatar">
				<div class="sidebar-name-container">
					<span>{{user_name}}</span>
					<div class="mdl-layout-spacer"></div>
				</div>
			</header>
			<nav class="sidebar-navigation mdl-navigation mdl-color--white">
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">sentiment_satisfied</i>Profile</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">forum</i>Updates</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">people_outline</i>Friends</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">bubble_chart</i>Groups</a>

				<div class="mdl-layout-spacer"></div>

				<a class="mdl-navigation__link" href="/userspace/settings"><i class="mdl-color-text--blue-grey-400 material-icons">settings</i><span >Settings</span></a>
			</nav>
		</div>
		<!-- HEADER AND SIDEBAR END -->
		<%- body %>
	</div>
	<div id="snackbar-show" class="mdl-js-snackbar mdl-snackbar" style="text-align: center;">
		<div class="mdl-snackbar__text"></div>
		<button class="mdl-snackbar__action" type="button"></button>
	</div>
</body>
</html>
