
<head>
	<meta charset="utf-8">

	<!--My CSS --> 
	<link rel="stylesheet" href="/css/profile.css"> 
	
	<!--My JS -->
	<script src="/js/profile.js"></script>
	
	<title>Profile</title>

</head>

<body ng-app="betti-profile-app" ng-controller="StyleController">
	<!-- HEADER AND SIDEBAR BEGIN -->
	

	<main class="mdl-layout__content">
		<div ng-controller="ProfileController">
			<header class="upper_container">
				<div class="cover_photo_container">
					<img class="cover_photo" ng-src="{{cover_photo}}">
				</div>
				<img class="profile_photo" ng-src="{{profile_photo}}">
				<span class="profile_name mdl-color-text--white"> {{name}} {{last_name}}</span>
				<div ng-class="color_mdl_class_profile" class="upper_bar">
					<div class="upper_bar_content mdl-color-text--white">
						{{description}}
					</div>
				</div>
			</header>
		</div>

		<div class="main_div mdl-layout__content">
			<div class="comment_box">
				<section class="post_container section--center mdl-grid mdl-grid--no-spacing">
					<div class="card_container mdl-card mdl-cell mdl-cell--10-col mdl-shadow--6dp">
						<div class="mdl-card__supporting-text">
							<form action="#">
								<div class="mdl-textfield mdl-js-textfield" style="width: 100%">
									<input class="mdl-textfield__input" type="text" style="font-size: 150%" id="new_title">
									<label class="mdl-textfield__label" for="new_title" style="font-size: 150%">Title</label>
								</div>
							</form>
							<form action="#">
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
									<textarea class="mdl-textfield__input" type="text" rows= "3" id="new_text" ></textarea>
									<!-- <input class="mdl-textfield__input" type="text" id="new_text"> -->
									<label class="mdl-textfield__label" for="new_text">Post</label>
								</div>
							</form>
						</div>
						<div class="mdl-textfield mdl-js-textfield" style="margin-left: 18px">
							<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-class="color_mdl_class_page">
								Send
							</button>
						</div>
					</div>
				</section>
			</div>

			<div class="main_posts" ng-controller="PostsController">
				<section ng-repeat="post in allPosts" class="post_container section--center mdl-grid mdl-grid--no-spacing">
					<div class="card_container mdl-card mdl-cell mdl-cell--10-col mdl-shadow--6dp">
						<div class="mdl-card__supporting-text">
							<h3 style="display: inline">{{post.title}}</h3>

							<span style="float: right">{{post.date | date: "H:mm dd-MMM"}}</span>
							<h4>
								{{post.text}}
							</h4>
						</div>

						<div class="actions_container mdl-card__actions mdl-card--border">

							<div class="button_container">
								<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="color_mdl_class_page"> <b>{{post.likes | limitTo:2}}</b>
								<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--green-500">
									<i class="material-icons">plus_one</i>
								</button>
							</div>
							&nbsp;&nbsp;&nbsp;
							<div class="button_container">
								<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="color_mdl_class_page"> <b>{{post.favorites | limitTo:2}}</b>
								<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--amber-500">
									<i class="material-icons">star_border</i>
								</button>
							</div>

							&nbsp;&nbsp;&nbsp;
							<div class="button_container">
								<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="color_mdl_class_page"> <b>{{post.forward | limitTo:2}}</b>
								<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--red-500">
									<i class="material-icons">share</i>
								</button>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

	</main>

</body>

