<head>
	<meta charset="utf-8">

	<!--My CSS --> 
	<link rel="stylesheet" href="/css/profile.css"> 
	
	<!--My JS -->	
	<title>Profile</title>

	<script src="/js/profile.js"></script>

</head>

<body>
	<main class="mdl-layout__content" ng-controller="StyleController">
		<div ng-controller="ProfileController">
			<header class="upper_container">
				<div class="cover_photo_container">
					<img class="cover_photo" ng-src="{{cover_photo}}">
				</div>
				<img class="profile_photo" ng-src="{{profile_photo}}">
				<span class="profile_name mdl-color-text--white"> {{name}} {{last_name}}</span>
				<div ng-class="color_mdl_class_profile" class="upper_bar">
					<div class="upper_bar_content mdl-color-text--white">
						{{description}}
					</div>
					<div class="upper_bar_content mdl-color-text--white" style="float: right;">
						{{birthday | date: "dd-MMM"}}
						<i class="mdi mdi-cake-variant"></i>
					</div>
				</div>
			</header>
		</div>

		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
			
			<div class="tab_bar_container">	
				<div class="tab_bar mdl-tabs__tab-bar" ng-class="color_mdl_class_profile_contrast">
					<a href="#user-all-posts" class="mdl-color-text--white mdl-tabs__tab is-active">
						<i class="mdi mdi-message-text-outline"></i>
					</a>
					<a href="#user-all-friends" class="mdl-color-text--white mdl-tabs__tab">
						<i class="mdi mdi-account-multiple-outline"></i>
					</a>
					<a href="#user-all-groups" class="mdl-color-text--white mdl-tabs__tab">
						<i class="mdi mdi-chart-bubble"></i>
					</a>
				</div>
			</div>


			<div class="mdl-tabs__panel" id="user-all-posts">
				<div class="main_div mdl-layout__content">
					<div class="comment_box">
						<section class="post_container section--center mdl-grid mdl-grid--no-spacing">
							<div class="card_container mdl-card mdl-cell mdl-cell--10-col mdl-shadow--6dp">
								<div class="mdl-card__supporting-text">
									<form action="#">
										<div class="mdl-textfield mdl-js-textfield" style="width: 100%">
											<input class="mdl-textfield__input" type="text" style="font-size: 150%" id="new_title">
											<label class="mdl-textfield__label" for="new_title" style="font-size: 150%">Title</label>
										</div>
									</form>
									<form action="#">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%">
											<textarea class="mdl-textfield__input" type="text" rows= "3" id="new_text" ></textarea>
											<!-- <input class="mdl-textfield__input" type="text" id="new_text"> -->
											<label class="mdl-textfield__label" for="new_text">Post</label>
										</div>
									</form>
								</div>
								<div class="mdl-card__actions">
									<div class="button_container">
										<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="color_mdl_class_profile">
											<i class="material-icons">done</i>
										</button>
										<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--green-600">
											<i class="material-icons">done_all</i>
										</button>
									</div>
								</div>
							</div>
						</section>
					</div>

					<div class="main_posts" ng-controller="PostsController">
						<section ng-repeat="post in allPosts" class="post_container section--center mdl-grid mdl-grid--no-spacing">
							<div class="card_container mdl-card mdl-cell mdl-cell--10-col mdl-shadow--6dp">
								<div class="mdl-card__supporting-text">
									<h3 style="display: inline">{{post.title}}</h3>

									<span style="float: right">{{post.date | date: "H:mm dd-MMM"}}</span>
									<h4>
										{{post.text}}
									</h4>
								</div>

								<div class="actions_container mdl-card__actions mdl-card--border" ng-controller="PostActionController">

									<div class="button_container">
										<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent"   ng-class="post.liked ? 'mdl-color--green-600' : color_mdl_class_profile"> <b>{{post.likes | limitTo:2}}</b>
										<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--green-600">
											<i class="material-icons">arrow_upward</i>
										</button>
									</div>
									&nbsp;&nbsp;&nbsp;
									<div class="button_container">
										<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="post.favorited ? 'mdl-color--amber-600' : color_mdl_class_profile"> <b>{{post.favorites | limitTo:2}}</b>
										</button>
										<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--amber-600">
											<i class="material-icons">star</i>
										</button>
									</div>

									&nbsp;&nbsp;&nbsp;
									<div class="button_container">
										<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="post.shared ? 'mdl-color--red-600' : color_mdl_class_profile"> <b>{{post.forward | limitTo:2}}</b>
										</button>
										<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--light-blue-600">
											<i class="material-icons">share</i>
										</button>
									</div>
									<div class="button_container" style="float: right;">
										<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-color--grey-200 mdl-color-text--grey-600">
											<i class="material-icons">delete</i>
										</button>
										<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--red-600">
											<i class="material-icons">delete_forever</i>
										</button>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			
			<div class="mdl-tabs__panel" id="user-all-friends" ng-controller="AllFriendsController">
				<div class="mdl-grid">
					<div ng-repeat="friend in allFriends" class="mini_card mdl-card mdl-cell mdl-cell--2-col mdl-shadow--4dp">
						<div class="mdl-card__supporting-text">
							<img class="card_photo" ng-src="{{friend.profile_photo}}">
						</div>

						<div ng-class="color_mdl_class_profile" class=" mini_card_bar mdl-card__title mdl-card--expand">
							<div class="mini_bar_content mdl-color-text--white">
								<a class="mdl-color-text--white">
									{{friend.name}} {{friend.last_name}}
								</a>
							</div>
						</div>

						<div class="mdl-card__actions mdl-card--border">
							<div class="button_container">
								<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="friend.following ? color_mdl_class_profile : 'mdl-color--red-600'"
								> <i class="material-icons">{{friend.following ? 'done' : 'close'}}</i>
								</button>
								<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--red-600" ng-class="friend.following ? 'mdl-color--red-600' : color_mdl_class_profile">
									<i class="material-icons">{{friend.following ? 'close' : 'done'}}</i>
								</button>
							</div>
						</div>
					</div>
				</div>					
			</div>
			
			<div class="mdl-tabs__panel" id="user-all-groups" ng-controller="AllGroupsController">
				<div class="mdl-grid">
					<div ng-repeat="group in allGroups" class="mini_card mdl-card mdl-cell mdl-cell--2-col mdl-shadow--4dp">
						<div class="mdl-card__supporting-text">
							<img class="card_photo" ng-src="{{group.profile_photo}}">
						</div>

						<div ng-class="color_mdl_class_profile" class=" mini_card_bar mdl-card__title mdl-card--expand">
							<div class="mini_bar_content mdl-color-text--white">
								<a class="mdl-color-text--white">
									{{group.name}}
								</a>
							</div>
						</div>

						<div class="mdl-card__actions mdl-card--border">
							<div class="button_container">
								<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="group.following ? color_mdl_class_profile : 'mdl-color--red-600'"
								> <i class="material-icons">{{group.following ? 'done' : 'close'}}</i>
								</button>
								<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--red-600" ng-class="group.following ? 'mdl-color--red-600' : color_mdl_class_profile">
									<i class="material-icons">{{group.following ? 'close' : 'done'}}</i>
								</button>
							</div>
						</div>
					</div>
				</div>					
			</div>

			</div>
		</div>
	</main>
</body>
