<div class="mdl-grid">
	<div ng-repeat="friend in allFriends" class="mini_card mdl-card mdl-cell mdl-cell--2-col mdl-shadow--4dp">
		<div class="mdl-card__supporting-text">
			<img class="card_photo" ng-src="{{friend.profile_photo}}">
		</div>

		<div ng-class="color_mdl_class_profile" class=" mini_card_bar mdl-card__title mdl-card--expand">
			<div class="mini_bar_content mdl-color-text--white">
				<a class="mdl-color-text--white">
					{{friend.name}} {{friend.last_name}}
				</a>
			</div>
		</div>

		<div class="mdl-card__actions mdl-card--border">
			<div class="button_container">
				<button class="button_show mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-class="friend.following ? color_mdl_class_profile : color_mdl_class_profile"
				> <i class="material-icons">{{friend.following ? 'done' : 'add'}}</i>
				</button>
				<button class="button_hidden mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-color--red-600" ng-class="friend.following ? 'mdl-color--red-600' : 'mdl-color--green-600'">
					<i class="material-icons">{{friend.following ? 'close' : 'done_all'}}</i>
				</button>
			</div>
		</div>
	</div>
</div>