<head>
	<meta charset="utf-8">

	<!--My CSS --> 
	<link rel="stylesheet" href="/css/timeline.css"> 
	
	<title>News Feed </title>

	<!--My JS -->	
	<script src="/js/timeline.js"></script>
	<script src="/js/post.js"></script>
	<script src="/js/follow.js"></script>

</head>

<body>
	<main class="mdl-layout__content" ng-controller="StyleController">
		<div style="margin-top: 30px">
			<div class="main_div mdl-layout__content">
				<%- include timeline_newpost.ejs %>
				<%- include timeline_fresh.ejs %>
			</div>
		</div>
	</main>
</body>
