<div class="main_posts" ng-controller="FreshController">
	<section ng-repeat="post in freshPosts" class="post_container section--center mdl-grid mdl-grid--no-spacing">
		<%- include timeline_post.ejs %>
	</section>
</div>
