<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>

<!--My CSS -->
<link rel="stylesheet" href="/css/error.css">

<head>
  <title>403 - Explorer!</title>
</head>

<div class="error-container">
  <h1 class="error-text">E<span>r</span>r<span>o</span>r!</h1>
  <h2 class="error-code">50<span>0</span></h2>
  <h3 class="error-description">
    <p>
      Sorry! This is on our side this time...
    </p> 
    <p>
      You can still contact our admins at <a href="https://www.github.com/paulogdm/betti" title="github.com">github.com/paulogdm/betti</a>
    </p> 
  </h3>
</div>

