<!DOCTYPE html>
<html>
<head>
	<%-title%>
</head>

<body>
<%- body %>
</body>



<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/style.js"></script>
<!--SCRIPTS END-->
</html>
