<head>

	<!--My CSS -->
	<link rel="stylesheet" href="/css/login.css">
	
	<!--My JS -->
	<script src="/js/login.js"></script>

	<title>Betti - Login</title>

</head>
<body ng-app="betti-login-app" ng-controller="LoginController" ng-style="{background: backgroundImage }">

	<form action="#" accept-charset="utf-8">
		<div class="box_container mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="login">
			<label class="mdl-textfield__label" for="login">Login</label>
			<span class="mdl-textfield__error">Invalid Email!</span>
		</div>

		<div class="box_container mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="password" id="password">
			<label class="mdl-textfield__label" for="password">Password</label>
			<span class="mdl-textfield__error">Wrong Password!</span>
		</div>
		<div class="signup_container">
			<button id="signup" type= "button" class="text_gray_color mdl-button mdl-js-button mdl-button--raised" onclick="showDialog()">SIGNUP</button>
			<dialog class="dialog_container mdl-dialog">
				<h4 class="mdl-dialog__title">Join us!</h4>
				<div class="mdl-dialog__content">

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="signup_login">
						<label class="mdl-textfield__label" for="signup_login">Login/Nick</label>
						<span class="mdl-textfield__error">Invalid login!</span>
					</div>

					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="password" id="signup_password">
						<label class="mdl-textfield__label" for="signup_password">Password</label>
						<span class="mdl-textfield__error">Invalid Password!</span>
					</div>

					<div class="box_container mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="signup_name">
						<label class="mdl-textfield__label" for="signup_name">Name</label>
						<span class="mdl-textfield__error">Invalid name!</span>
					</div>

					<div class="box_container mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="signup_date" pattern="\d{1,2}/\d{1,2}/\d{4}">
						<label class="mdl-textfield__label" for="signup_date">Birthday (dd/mm/aaaa)</label>
						<span class="mdl-textfield__error">Invalid date!</span>
					</div>

				</div>
				<div class="mdl-dialog__actions">
					<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Ready!</button>
					<button type="button" class="text_gray_color mdl-button close" onclick="hideDialog()">Close</button>
				</div>
			</dialog>
		</div>

		<div class="buttons">
			<button class="submit_button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
				<i class="material-icons">done</i>
			</button>
		</div>
	</form>

</body>